/* Genel ayarlar */
body {
  margin: 0;
  padding: 0;
  background-color: #000; /* siyah arka plan */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

/* Başlık */
header {
  text-align: center;
  padding: 20px;
  background-color: #111;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
}
/* Navbar */
.navbar {
  background-color: #111;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 30px;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px rgba(255, 255, 255, 0.1);
  flex-wrap: wrap;
}

/* Menü Ortalanmış */
.menu-wrapper {
  flex: 1;
  display: flex;
  justify-content: center;
}

.menu {
  list-style: none;
  display: flex;
  gap: 30px;
  margin: 0;
  padding: 0;
}

.menu li a {
  color: white;
  text-decoration: none;
  font-size: 1rem;
  transition: color 0.3s;
}

.menu li a:hover {
  color: #e50914;
}

/* Sağdaki Butonlar */
.user-buttons {
  display: flex;
  gap: 15px;
}

/* Ortak Buton Stili */
.user-buttons .btn {
  background-color: #e50914;
  color: white;
  padding: 8px 14px;
  border-radius: 4px;
  text-decoration: none;
  font-size: 0.9rem;
  transition: background-color 0.3s;
}

.user-buttons .btn:hover {
  background-color: #b00610;
}

/* Kayıt ol özel rengi */
.user-buttons .btn-kayit {
  background-color: transparent;
  border: 1px solid #e50914;
  color: #e50914;
}

.user-buttons .btn-kayit:hover {
  background-color: #e50914;
  color: white;
}


h1 {
  margin: 0;
  font-size: 2rem;
  color: #e50914;
}

.btn-fragman
 {
  display: inline-block;
  margin: 8px 4px;
  padding: 8px 12px;
  background-color: #d32f2f;
  color: white;
  text-decoration: none;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  font-size: 0.9rem;
}

.btn-fragman:hover,
.btn-detay:hover {
  background-color: #b71c1c;
}
.yakinda-filmler {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 2rem;
  justify-content: center;
}

.film-karti {
  background-color: #f9f9f9;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 300px;
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s ease;
}

.film-karti:hover {
  transform: translateY(-5px);
}

.film-karti img {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.film-karti h2 {
  margin-top: 0.8rem;
  color: #333;
}

.film-karti p {
  font-size: 0.95rem;
  color: #555;
}

.vizyon-tarih {
  display: block;
  margin-top: 0.5rem;
  font-size: 0.9rem;
  color: #c62828;
}
.ustmenubaslik{
  color:#e50914;
  text-decoration: none;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 36px;
  margin-right: 250px;

}